.linkNextPage {
    text-align: right;
    padding-right: 8%;
}

.linkNextPage:hover {
    cursor: pointer;
    color: darkslateblue;
}

.chord-search-result:hover {
    border: 1px solid red;
}

.buscador-options {
    background-color: white;
    border: 1px solid grey;
    border-top: none;
    border-radius: 0px 0px 5px 5px; 
    width: 137px;
    position: absolute;
    left: 10.4%;
    z-index: 1;
}

ul {
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

.option-link {
    padding: 2px 10px;
}

/* .option-link:hover {
    background-color: rgb(231, 231, 231);
} */

.option-link-hover {
    background-color: rgb(231, 231, 231);
}

.clean-chord-list {
    background-color: #f8a8a8;
    padding: 2px 5px;
    border: 1px solid grey;
    border-radius: 8px;
}

.clean-chord-list:hover {
    background-color: #ee6868;
    cursor: pointer;
}

.flex {
    display: flex;
}

.fg-1 {
    flex-grow: 1;
}

.fg-3 {
    flex-grow: 3;
}

#testanders {
    color: red;
}

.selecionados {
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    -webkit-user-drag: none;
}