.diagram {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5,1fr);
    background-color: grey;
    gap: 3px;
    padding: 3px;
    box-sizing: border-box;
    width: 203px;
    margin-left: 20.3px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    width: 240px;
    margin-left: 1.5px;
    margin-top: 3px;
}

.footer-img {
    width: 31px;
    cursor: pointer;
}