<div class="criador-title" style="width: 625px; text-align: center;">
    <h1>Criador de Acorde</h1>
</div>




<div class="chord-name">
    <input autocomplete="none" class="input-chord-name" [(ngModel)]="newChordName" (keyup)="atualizarPreview()" type="text" placeholder="nome do acorde"> 
</div>

<!-- <div style="margin-left: 20px;">
    <label for="position">Posição:</label>
    <select (change)="atualizarPreview()" style="margin-left:5px;" name="" id="" [(ngModel)]="newChordPosition">
        <option name="position" *ngFor="let position of positions" [value]="position">{{position}}</option>
    </select>
    
</div> -->


<br>


<div style="display: flex;">
    <div style="padding-top:17px">
        <label for="position">Posição:</label>
        <select (change)="atualizarPreview()" style="margin-left:5px; padding: 5px;" name="" id="" [(ngModel)]="newChordPosition">
            <option name="position" *ngFor="let position of positions" [value]="position">{{position}}</option>
        </select>
    </div>
    <!-- DIAGRAMA CLICÁVEL PARA CONFIGURAR O ACORDE: -->
    <div #diagram class="diagram">
    </div>

    <div style="display: grid; justify-items: center; width: 240px; margin-left: 60px;">
        <div style="margin-top:20px; width: 180px; text-align: center;">
            <!-- <button (click)="verDados()">Ver output</button> -->
            OUTPUT PREVIEW:
        </div>
    
        <div (click)="sendChord()" id="acordeNovo">
    
        </div>
    </div>


</div>



<!-- FOOTER -->
<div class="footer">
    <div *ngFor="let footer of defaultFooter; let i = index">
        <img #footerImgs (click)="changeFooter($event, i)" [src]="footer" class="footer-img" alt="">
    </div>
</div>



