<div style="display: flex; justify-content: space-between;">
    <h1>Criador de Acorde</h1>
    <!-- <h3 (click)="navigate('pool')" class="link" style="margin-right: 200px;">← voltar para o pool</h3> -->
</div>



<div>
    <input (keyup)="setarTitle()" [(ngModel)]='newChordTitle' type="text" placeholder="cifra do acorde">
</div>

<input (keyup)="setarDots()" [(ngModel)]="dot1" type="text" maxlength="5" placeholder="ponto 1">
<input (keyup)="setarDots()" [(ngModel)]="dot2" type="text" maxlength="5" placeholder="ponto 2">
<input (keyup)="setarDots()" [(ngModel)]="dot3" type="text" maxlength="5" placeholder="ponto 3">
<input (keyup)="setarDots()" [(ngModel)]="dot4" type="text" maxlength="5" placeholder="ponto 4">

<div>
    <input [(ngModel)]="pestanaInput" (keyup)="setarPestana()" type="text" placeholder="pestana">
</div>

<div>
    <input (keyup)="setarPosition()" [(ngModel)]="positionInput" maxlength="2" type="text" placeholder="posição">
</div>

<div>
    <select class="font-20" (change)="setarFooter($event)" #footerSymbolsSelects *ngFor="let string of stringsIds; let i= index" name="footer" id={{string}}>
        <option [selected]="symbol == '○'" *ngFor="let symbol of footerSymbols" [value]="symbol">{{symbol}}</option>
    </select>   
</div>
 


<div #customChord id="acorde">


</div>

<div>
   <!--  <button (click)="downloadChordAsSVG()">baixar acorde</button> -->
   <button (click)="emitirEvento()">adicionar</button>
</div>