<router-outlet></router-outlet>




<!-- <div>
  <h2> Qtde de acordes: <strong>{{ acordesCompletos }}</strong>  </h2>

  <h4 class="linkNextPage" (click)="navigate()">Pagina seguinte -></h4>
 
</div>


<div class="inline" id="vejamos"></div>
 -->

<!--   <div #chordsChart style="display: inline-block;" *ngFor="let chord of chords; let i = index"> 
    <img #chordImage id=svg{{+i+1}} style="width: 150px; margin-top: 30px;" src={{chord.svg}} alt="">  
  </div> -->

<!-- <div> 
      <h1>Testando acordes</h1>
    </div>
    
  
    
    <div class="testing" id="chart"></div>
    
    <button class="space" (click)="drawChord('_',[],[])">Limpar</button>
    <button class="space" (click)="drawChord('D',[[1,2],[2,3],[3,2]],[])">D</button>
    <button class="space" (click)="drawChord('Dm',[[1,1],[2,3],[3,2]],[])">Dm</button>
    <button class="space" (click)="drawChord('D7',[[1,2],[2,1],[3,2]],[])">D7</button>
    <button class="space" (click)="drawChord('Dm7',[[1,1],[2,1],[3,2]],[])">Dm7</button>
    <button class="space" (click)="drawChord('Dm7',[[3,2]],[2, 1, 1])">Dm7 (pestana)</button>
  
    <div class="flex-container">
  
     
      <div class="padding-10 flex-around flex-1"> 
        <div class="btn-tag pointable flex-1 center-text" 
        *ngFor="let chord of chords; let i = index" 
        (click)="activeBtns[i]=!activeBtns[i]"
        (click)="activateChord(i, chord)"
        [ngClass]="{'btn-tag-active':activeBtns[i]}"> 
        {{ chord.title }} 
        </div>
      </div>
      
  
      <div class="flex-2">
        <div style="display: flex;">
          <div #chordCharts class="hide" style="width: 20%;" *ngFor="let chord of chords; let i = index" id=chordChart_{{i+1}}></div>
        </div>
        <div style="width: 100%; text-align: center; margin-top: 20px;" *ngIf="activeLength > 0">
          <button>Baixar grades de acorde</button>
        </div>
      </div>
  
  
    </div> -->
  