@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@300&display=swap');

.inline {
    display: inline-block;
}

.link {
    font-family: 'Roboto';
    font-weight: 200;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.chords-types {
    display: grid; 
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
   /*  position: sticky;
    top: 0;
    padding-bottom: 22px;
    background-color: white; */
}

.chords-types-item {
    display: flex;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid gainsboro;
    padding: 7px;
    align-items: center;
}

.chords-types-item:hover {
    cursor: pointer;
    background-color: #c83737;
    color: white;
    border-color: #c83737;

}

.chords-types-item:hover .code  {
   border-color: white;

}

.chords-types-item .code {
    border-right: 1px solid gray;
    padding-right: 5px;
    font-family: 'Avenir Atelie do Violão Bold';
}

.chords-types-item .title {
    padding-left: 5px;
}

.active-tag {
    background-color: #c83737;
    color: white;
    border-color: #c83737;
}

.active-tag .code {
    border-color: white;
}

.hidden {
    display: none;
}

.type-sete-quatro {
    display: grid;
    position: relative;
    height: 19px;
    width: 4%;
}

.type-sete-quatro .sete {
    position: absolute;
    top: -9px;
}

.type-sete-quatro .quatro {
    position: absolute;
    top: 9px;
}

.svg-header {
    /* font-family: sans-serif; */
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.svg-header h1, h2{
    margin: 0;
}

.svg-header h2 {
    font-weight: 100;
}

.quantifizer {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.sticky-header {
    background-color: white;
    position: sticky;
    top: 0;
    padding-bottom: 22px;
}