<div style="display: flex;">
    <div style="flex-grow: 1">
        <h2>Qtde de acordes: {{ chordsQuantity }}</h2>
    </div>

    <div style="display:flex; justify-content:end; flex-grow: 1;text-align: right; margin-right: 200px; margin-top: 30px;">  
        <!-- <h3 class="link" (click)="navigate('criador')">Ir para o criador →</h3>
        <h3 class="link" (click)="navigate('buscador')">Ir para o buscador →</h3> -->
        <h3 class="link" (click)="navigate('chartgen')">Ir para o criador →</h3>
    </div>
</div>

<div *ngIf="loadingChords">
    <img width="100px" src="assets/spinning-loading.gif" alt="">
    <p style="font-size:20px">construindo acordes...</p>
</div>

<div *ngIf="errorMessageTitle.length > 0">
    <p style="font-size:20px; margin:0 0 5px">{{errorMessageTitle}}</p>
    <p style="font-size:20px; margin:0">{{errorMessage}}</p>
    <img style="width:100px; margin-top: 20px;" src="assets/face-palm.jpg" alt="">
</div>

<div class="chords-types">
    <div class="chords-types-item" [ngClass]="{'active-tag':tagFilterActive[i]}" *ngFor="let type of chordsTypes; let i = index" (click)="filterChords(i)">
        <div class="code">{{type.code}}</div>
        <div class="title">{{type.title}}</div>
    </div>
</div>




<div #chordsPool class="inline" id="pool"></div>
