.meus-projetos {
    font-size: 30px;
    list-style: none;
    display: flex;
    width: 55%;
    justify-content:space-evenly;
}

.meus-projetos li {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    /* padding: 10px 30px; */
    width: 100%;
    margin-left: 10px;
    text-align: center;
    height: 75px;
    /* padding-top: 26px; */
    border:1px solid #c0c0c0;
    border-radius: 6px;
    font-family: monospace;
    color: #505050;
    font-size: 24px;
    position: relative;
}

.meus-projetos li span {
    text-align: left;
}

.meus-projetos li:hover {
    background-color: rgb(249, 249, 249);
}

.title{
    color: #d83828;
    font-family: monospace;
    font-size: 34px;
}

@media only screen and (max-width:1360px) {
    .meus-projetos {
        display: block;
        width: 100%;
        padding: 0;
    }

    .meus-projetos li {
        margin-top: 20px;
        width: auto;
    }
}

.partial {
    height: 19vh;
}

#iframe {
    border: none;
    border-top: 1px solid rgb(199, 199, 199);
    padding-top: 30px;
    width: 100%;
    height: 100vh;
}

.logos {
    width: 40px;
}

.ang {
    width: 28px;
    padding: 0 5px;
}