
<h1 class="title">Meus projetos em Rails, Angular e React</h1>



<div>
    <ul class="meus-projetos">
        <!-- <li (click)="navigate('cf')">Controle Financeiro </li> -->
        <li> <a target="_blank" href="https://enigmatic-everglades-73136.herokuapp.com/"><img class="logos" src="assets/logoRails.svg" alt=""> <span>Favorite Youtube Collection</span></a>  </li>
        <li (click)="showProject('googlepicker')"> <img class="logos" src="assets/logoReact.svg" alt=""> <span>Google App Picker</span> </li>
        <li (click)="showProject('controlefinanceiro')"><img class="logos ang" src="assets/logoAngular.svg" alt=""> Controle Financeiro </li>
        <li (click)="showProject('geradordeacordes')"><img class="logos ang" src="assets/logoAngular.svg" alt="">Gerador de Acordes</li>
        <!-- <li (click)="navigate('pool')">Gerador de Acordes</li> -->


    </ul>
</div>




<iframe id="iframe" src=""></iframe>
