/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Avenir Next LT Pro Editada";
    src: url("assets/AvenirNextLTProEditada-Bold009.otf");
}


/* @font-face {
    font-family: "Avenir Next Editada";
    src: url("assets/AvenirNextLTProEditada-Bold009.otf");
}
 */


@font-face {
    font-family: "Avenir Atelie do Violão Bold";
    src: url("assets/AvenirNextLTProEditada-Bold009.otf");
}

/* body {
    max-width: 50%;
    margin: 0 auto;
} */

.destacar {
    border: 1px solid white;
    border-radius: 3px;
    padding: 4px;
}

.destacar:hover {
    border: 1px solid rgb(51, 51, 51);
    cursor: pointer;
}

.destacar-teste {
    outline: 2px solid red
}

.red-warning {
    border: 1px solid rgb(255, 10, 10);
    cursor: pointer;
}

#testanders {
    color: red;
}

.selecionados rect {
    /* fill-opacity: 0; */
    /* stroke: white;
    stroke-width: .5; */
}

.selecionados rect:hover {
    stroke: red;
    stroke-width: .2;
    /* fill-opacity: 0.2;
    fill:brown; */
    cursor: pointer;
}

.teste {
    background-color: rgb(255, 255, 255);
}

.trans-cell {
    background: transparent;
}

.trans-cell:hover {
    cursor: pointer;
}

.dot-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.dot {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}

.dot-container:hover .dot {
    background-color: gainsboro;
    cursor: pointer;
}

.selected-dot {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: black;
}

.dot-container:hover .selected-dot {
    cursor: pointer;
}