/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Avenir Next LT Pro Editada";
    src: url("assets/AvenirNextLTProEditada-Bold009.otf");
}


/* @font-face {
    font-family: "Avenir Next Editada";
    src: url("assets/AvenirNextLTProEditada-Bold009.otf");
}
 */


@font-face {
    font-family: "Avenir Atelie do Violão Bold";
    src: url("assets/AvenirNextLTProEditada-Bold009.otf");
}

/* body {
    max-width: 50%;
    margin: 0 auto;
} */

.destacar {
    border: 1px solid white;
    border-radius: 3px;
    padding: 4px;
}

.destacar:hover {
    border: 1px solid rgb(51, 51, 51);
    cursor: pointer;
}

.destacar-teste {
    outline: 2px solid red
}

.red-warning {
    border: 1px solid rgb(255, 10, 10);
    cursor: pointer;
}

#testanders {
    color: red;
}

.selecionados rect {
    /* fill-opacity: 0; */
    /* stroke: white;
    stroke-width: .5; */
}

.selecionados rect:hover {
    stroke: red;
    stroke-width: .2;
    /* fill-opacity: 0.2;
    fill:brown; */
    cursor: pointer;
}

.teste {
    background-color: rgb(255, 255, 255);
}

.trans-cell {
    background: transparent;
}

.trans-cell:hover {
    cursor: pointer;
}

.dot-container {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.dot {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    /* -webkit-user-drag: element; */
    /*pointer-events: none;*/
    user-select: none;
}

.dot-container:hover .dot {
    background-color: gainsboro;
    cursor: pointer;
}

.selected-dot {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background-color: black;
}

.pestana {
    border-radius: 20px;
    width: 100%;
}

.dot-container:hover .selected-dot {
    cursor: pointer;
}

.dragable {
    -webkit-user-drag: none;
    cursor: pointer;
    user-select: none;
   /*  background-color: rgba(245, 245, 220, 0.479); */
}

.teste2{
    position: relative;
    -webkit-user-drag: none;
   
}

.teste2::after {
    content: '';
    background-color: rgb(244 241 241);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.teste3{
    position: relative;
    -webkit-user-drag: none;
   
}

.teste3::after {
    content: '';
    background-color: rgb(244 241 241);
    border-radius: 0px;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: calc(50% - 20px);
}

.teste4{
    position: relative;
    -webkit-user-drag: none;
   
}

.teste4::after {
    content: '';
    background-color: rgb(244 241 241);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: calc(50% - 20px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.diagram .cell {
    background-color: white;
}

.shadow-diagram {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(6,1fr);
    width: 246px;
    left: -22.3px;
    row-gap: 3px;
    padding: 3px 3px 0;
    box-sizing: border-box;
    pointer-events: all;
}

.shadow-container {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
}

.shadow-container-dot {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;

}

.shadow-container-dot::after {
  content: '';
  background-color: rgb(255, 218, 218);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.shadow-container.cap::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100%;
    position: absolute;
    top: calc(50% - 20px);
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.shadow-container.mid::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100%;
    position: absolute;
    top: calc(50% - 20px);
    border-radius: 0px;
}

.shadow-container.end::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100%;
    position: absolute;
    top: calc(50% - 20px);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.finger-diagram {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(6,1fr);
    width: 246px;
    left: -22.3px;
    row-gap: 3px;
    padding: 3px 3px 0;
    box-sizing: border-box;
    pointer-events: none;
}

.numbers-diagram {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(6,1fr);
    width: 246px;
    left: -22.3px;
    row-gap: 3px;
    padding: 3px 3px 0;
    box-sizing: border-box;
    pointer-events: none;
}

.fgr-span1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 1;
    position: relative;
}

.fgr-span2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 2;
    position: relative;
}

.fgr-span3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 3;
    position: relative;
}

.fgr-span4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 4;
    position: relative;
}

.fgr-span5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 5;
    position: relative;
}

.fgr-span6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-column: span 6;
    position: relative;
}

.fgr-dot {
    /* width: 40px; */
    width: 100%;
    height: 40px;
    background-color: black;
    border-radius: 20px;
    border: none;
}

.pestana-mark::after {
    content: '';
  background-color: rgb(218, 254, 255);
  border-radius: 20px;
  height: 40px;
  width: 40px;
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.finger-selector {
    position: absolute;
    top: calc(50% - 20px);
    left: 50px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    width: 50px;
    pointer-events: all;
    z-index: 1;
}

.hidden {
    display: none;
}

.finger-list {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    text-align: center;
}

.finger-selector-item {
    padding: 3px;
    cursor: default;
}

.finger-selector-item:hover {
    background-color: antiquewhite;
}

.numbers {
    color: white;
    font-size: 20px;
}

.drag-chord {
    -webkit-user-drag: element;
}